__pycache__/
*.pyc
results/
checkpoints/
test_results/
dataset/
*.ckpt
*.tif
*.tiff
SR_HR.*
country.*
china_flux_sites_shp.*
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.fix
*.pdf
*.docx
*.xlsx
*.pptx
*.zip
*.tar.gz
*.log
*.out
*.tmp
*.bak
*.swp                    
